<section class='content'>
    <section id='whowas-search'>
        <h2 class='flex-title'>Search WhoWas</h2>
        <div class='whowas-search-form'>
            <form class = "formastic whowas_search"
                  id = "parse_whowas_search"
                  accept-charset="UTF-8"
                  action="javascript:SubForm_Whowas_parse(event)">
                <input id="utf8input"
                       name="utf8" 
                       type="hidden" 
                       value="&#x2713;" />
                    <fieldset class="inputs">
                        <label for="whowas_search_parse" 
                               class="label">
                               Parse Input</label>
                        <textarea id="whowas_search_parse" 
                               type="text" 
                               name="whowas_search[parse]" 
                               style="height:200px;"
                               required/>
                        <p class="inline-hints">Automatically parses inputs to IP, port, and timestamp. Just copy and paste the infringment details!</p>
                    </fieldset>
                <input type="hidden" name="_csrf" value="{{ csrftoken }}" />
                <input id = "whowas_search_send"
                       type="submit" 
                       name="commit" 
                       value="Search" 
                       data-disable-with="Search" />
            </form>
        </div>

        <div class='whowas-search-results'>
            <div id='whowas-search-spinner'>
                <div class='spinner-container'>
                    <div class='spinner'>
                        <div class='bounce1'></div>
                        <div class='bounce2'></div>
                        <div class='bounce3'></div>
                    </div>
                </div>
            </div>
            <div class='loading-content' 
                 id='whowas-search-results-content'>
            </div>
            <pre class='loading-content' 
                 id='whowas-search-results-content-log'>
            </pre>
        </div>
    </section>
</section>
